<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap-3.4.1-dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>CranShaw</div>
        <div>
            <p class="glyphicon glyphicon-send">Acc</p>
            <p>Ca</p>
            <p>Me</p>
        </div>
    </nav>
</body>
</html>