<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cranshaw | Login</title>
  </head>
  <body>
    <div class="container">
      <div class="overlay">
        <form action="">
          <h1>Welcome back!</h1>

          <input type="tel" placeholder="Phone number" />
          <br />

          <input type="password" placeholder="Password" />
          <button>Login</button>
          <p>
            Don't have an account?
            <a
              href="/signup"
              style="
                color: rgb(255, 136, 0);
                text-shadow: 0px 0px 4px rgba(24, 24, 24, 0.774);
                font-size: 1.2em;
              "
              ><b> Sign up</b></a
            >
          </p>
        </form>

        <div class="faviconCont">
          <img src="img/favicon.png" alt="" srcset="" />
          <p>...Powered by CranShaw</p>
        </div>
      </div>
    </div>
  </body>
</html>
