<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
      href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
    
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Craneshaw | Login</title>
  </head>
  <body>
    <div class="container">
      <div class="overlay">
        <form action="/login" method="post">
          <h1>Welcome back!</h1>

          <input type="tel" placeholder="Phone number" name="phone" />
          <br />

          <input type="date" placeholder="Password" name="password" />
          <button>Login</button>
          <p>
            Don't have an account?
            <a
              href="/signup"
              style="
                color: rgb(255, 136, 0);
                text-shadow: 0px 0px 4px rgba(24, 24, 24, 0.774);
                font-size: 1.05em;
              "
              ><b> Sign up</b>
            </a>
          </p>
        </form>

        <div class="faviconCont">
          <img src="img/favicon.png" alt="" srcset="" />
          <p>CraneShaw ...buy now, pay later</p>
        </div>
      </div>
    </div>
    <script src="js/login.js"></script>
    <script src="js/axios.min.js"></script>
  </body>
</html>
